<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672417054710-2gm36ur4k2nj5a7ed2re974mmq4qmt34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672417054710-2gm36ur4k2nj5a7ed2re974mmq4qmt34</string>
	<key>API_KEY</key>
	<string>AIzaSyA2dxERL5q8KoSA3_9_iztImlu97Wktg6I</string>
	<key>GCM_SENDER_ID</key>
	<string>672417054710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anathanwang.andexevents</string>
	<key>PROJECT_ID</key>
	<string>andexevents</string>
	<key>STORAGE_BUCKET</key>
	<string>andexevents.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672417054710:ios:1918ac2d197286a4ded1d7</string>
</dict>
</plist>